@model List<Assinatura>
@{
    ViewData["Title"] = "Assinaturas";
}

<div class="text-center">
    <h1 class="display-4">Lista de Assinaturas</h1>

    <br />
    <a class="btn btn-success" asp-controller="Assinaturas" asp-action="Criar">Adicionar Assinatura</a>
    <br />
    <br />
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
        @TempData["MensagemErro"]
    </div>
}


<table class="table table-striped text-center">
    <thead>
        <tr>
            <th class="d-none">Id</th> @* Por boas práticas ocultei o Id *@
            <th class="col" clas="text-cernter">Id Aluno</th>            
            <th scope="col" class="text-center">Data de Criação</th>
            <th scope="col" class="text-center">Inicio</th>
            <th scope="col" class="text-center">Termino</th>
            <th scope="col" class="text-center">Ativo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Assinatura ass in Model)
            {
              
                <tr>
                    <th class="d-none">@ass.Id</th> @* Por boas práticas ocultei o Id *@
                    <td>@ass.AlunoId</td>                    
                    <td>@ass.DataCriacao</td>
                    <td>@ass.Inicio</td>
                    <td>@ass.Termino</td>
                    
                    <td>@(ass.Ativo ? "Sim" : "Não")</td>
                                    
                    <td>
                        <a type="button" class="btn btn-outline-dark" asp-controller="Assinaturas" asp-route-id="@ass.Id" asp-action="Editar"><i class="bi bi-pencil"></i></a>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete_@ass.Id"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@foreach (Assinatura assinatura in Model)
{
    <div class="modal fade" id="modalDelete_@assinatura.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color:transparent; border:none;">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir a assinatura @assinatura.Id?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" asp-controller="Assinaturas" asp-route-id="@assinatura.Id" asp-action="Deletar">Excluir</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="modal"]').click(function () {
                var target = $(this).data('target');
                $(target).modal('show');
            });

            $('.modal').on('click', '.btn-secondary', function () {
                $(this).closest('.modal').modal('hide');
            });

            $('.modal').on('click', '[data-dismiss="modal"]', function () {
                $(this).closest('.modal').modal('hide');
            });
        });
    </script>
}
